<div class="terminal-container">
  <div class="terminal">
    <div id="output">
      <div class="centered">
        <h3>Choose a build to show its output</h3>
      </div>
    </div>
  </div>
</div>
