<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Continuous Integration set free.">
  <meta name="author" content="Alloy CI">
  <meta name="keyword" content="Continuous Integration,CI,CD,GitHub,GitLab">
  <link rel="shortcut icon" href="/favicon.ico">

  <title>AlloyCI Admin | Log in</title>
  <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
</head>

<body class="aci-splash-screen">
  <div class="aci-wrapper aci-login">
    <div class="aci-content">
      <%= render_flash(@conn, :info) %>
      <%= render_flash(@conn, :error) %>
      <%= render_flash(@conn, :success) %>

      <div class="main-content container-fluid">
        <div class="splash-container">
          <div class="card card-border-color card-border-color-primary">
            <div class="card-header">
              <h2 class="page-title">AlloyCI - Admin<h2>
                  <span class="splash-description">
                    Please enter your user information to
                    <%= if @current_user do %>
                    connect your account
                    <% else %>
                    login
                    <% end %>
                  </span>
            </div>
            <div class="card-body">
              <%= @inner_content %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
</body>

</html>
