<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Continuous Integration set free.">
  <meta name="author" content="Alloy CI">
  <meta name="keyword" content="Continuous Integration,CI,CD,GitHub,GitLab">
  <link rel="shortcut icon" href="img/favicon.png">

  <title>Alloy CI</title>
  <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
</head>

<body class="app header-fixed sidebar-fixed aside-menu-fixed aside-menu-hidden">
  <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
  <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
  
  <%= render @view_module, @view_template, assigns %>

  <footer class="app-footer">
    <a href="https://alloy-ci.com">Alloy CI</a> © 2017 Insomniware, LLC.
    <span class="float-right">Powered by <a href="http://coreui.io">CoreUI</a>
    </span>
  </footer>

  <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
</body>

</html>
