<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Continuous Integration set free.">
  <meta name="author" content="Alloy CI">
  <meta name="keyword" content="Continuous Integration,CI,CD,GitHub,GitLab">
  <link rel="shortcut icon" href="/favicon.ico">

  <title>AlloyCI</title>
  <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
</head>

<body>
  <div class="aci-wrapper aci-color-header aci-fixed-sidebar aci-collapsible-sidebar">
    <%= render AlloyCi.Web.SharedView, "navbar.html", current_user: @current_user, conn: @conn %>
    <%= render "sidebar.html", current_user: @current_user, conn: @conn, projects: Projects.latest(@current_user) %>

    <div class="aci-content m-b-1">
      <%= render_flash(@conn, :info) %>
      <%= render_flash(@conn, :error) %>
      <%= render_flash(@conn, :success) %>

      <!-- Main content -->
      <%= @inner_content %>
    </div>

    <footer class="app-footer">
      <span class="float-right m-r-3"><a href="https://alloy-ci.com">AlloyCI</a> © <%= Timex.now.year %> Insomniware,
        LLC.</span>
    </footer>
  </div>
  <script>
    window.userToken = "<%= Accounts.get_valid_auth_token(@current_user) %>";
  </script>
  <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
</body>

</html>
