<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Continuous Integration set free.">
  <meta name="author" content="Alloy CI">
  <meta name="keyword" content="Continuous Integration,CI,CD,GitHub,GitLab">
  <link rel="shortcut icon" href="/favicon.ico">

  <title>AlloyCI | Log in</title>
  <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
</head>

<body class="app flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
        <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card-group mb-0">
          <div class="card p-2">
            <div class="card-block">
              <%= if @current_user do %>
                <h3>Connect your account</h3>
              <% else %>
                <h1>Login</h1>
                <p class="text-muted">Sign In to your account</p>
              <% end %>
              <%= render @view_module, @view_template, assigns %>
            </div>
          </div>
          <div class="card card-inverse card-primary py-3 hidden-md-down" style="width:44%">
            <div class="card-block text-center">
              <div>
                <h2>Sign up</h2>
                <p>Create your account today to start using AlloyCI</p>
                <%= link "Register Now!", to: register_path(@conn, :register), class: "btn btn-primary mt-1" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
</body>
</html>
