<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Continuous Integration set free.">
  <meta name="author" content="Alloy CI">
  <meta name="keyword" content="Continuous Integration,CI,CD,GitHub,GitLab,Deployment,Delivery">
  <link rel="shortcut icon" href="/favicon.ico">
  <title>AlloyCI</title>
  <link rel="stylesheet" href="<%= static_path(@conn, "/css/kit.css") %>">
</head>

<body class="index" id="page-top">

  <section class="cover-5 text-center">
    <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
    <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-custom navbar-light">
      <div class="container">
        <a class="navbar-brand" href="#">
          <img src="/images/logo.png" class="img-avatar" width="25%" alt="logo">
          AlloyCI
        </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
          data-target="#navbarToggler-5" aria-controls="navbarToggler-5" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse pull-xs-right justify-content-end" id="navbarToggler-5">
          <ul class="navbar-nav mt-2 mt-md-0">
            <li class="nav-item">
              <a class="nav-link" href="https://github.com/AlloyCI/alloy_ci/tree/master/doc">Documentation</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#features">Features</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#download">Download</a>
            </li>
            <li class="nav-item">
              <%= if @current_user do %>
              <%= link "Projects", to: project_path(@conn, :index), class: "main-link btn btn-outline-success btn-outline" %>
              <% else %>
              <%= link "Log in", to: auth_path(@conn, :login, "identity"), class: "main-link btn btn-outline-success btn-outline" %>
              <% end %>
          </ul>
        </div>
      </div>
    </nav>

    <div class="cover-container pb-5 ">
      <div class="cover-inner container">
        <p class="lead">[Continuous] |> Integration |> Deployment |> Delivery</p>
        <div class="divider"></div>
        <h1 class="jumbotron-heading">Welcome to <em><strong>AlloyCI</strong></em></h1>
        <div class="row">
          <div class="offset-md-4 col-md-4 mt-5">
            <a href="#download" class="btn btn-lg btn-success pill-btn">Get Started</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <%= @inner_content %>

  <!-- Footer -->
  <footer class="footer-3">
    <div class="container">
      <div class="row">
        <div class="col-md-6 text-center text-md-left mt-2 mb-3 pt-1">
          <p>Copyright &copy; <%= Timex.now.year %> Insomniware, LLC</p>
        </div>
        <div class="col-md-6 text-center text-md-right mb-4">
          <ul class="social">
            <li><a href="https://twitter.com/AlloyCI" title="Twitter" class="fa fa-twitter"></a></li>
            <li><a href="https://github.com/AlloyCI" title="GitHub" class="fa fa-github"></a></li>
            <div class="clear"></div>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  <!-- Bootstrap core JavaScript -->
  <script>
    window.userToken = "1";
  </script>
  <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
</body>

</html>
