form.link {
  display: inline-flex !important;
}

.bullet {
  color: #7b7e81;
  margin: 0 5px;
}

.breadcrumb {
  margin-bottom: 0;
}

.nav-subtitle {
  font-size: 11px;
  font-weight: 6000;
  padding: .75rem 1rem;
  color: #eceeef;
  text-transform: uppercase;
}

.alert:empty {
  display: none;
}

.alert-margin {
  margin-top: 46px;
  margin-bottom: 0 !important;
}

.CodeMirror {
  font-size: 18px;
}

.margin-right-imp {
  margin-right: 30px !important;
}

.m-b-1, .m-y-1 {
  margin-bottom: 1rem !important;
}

.m-b-2, .m-y-2 {
  margin-bottom: 1.5rem !important;
}

.m-r-1 {
  margin-right: 0.5rem !important;
}

.m-x-auto {
  margin-right: auto !important;
  margin-left: auto !important;
}

.p-a-2 {
  padding: 1.5rem !important;
}

.padding-top {
  padding-top: 20px;
}

.inline {
  display: inline-flex;
}

.navbar-toggler {
  span {
    font-size: .675rem;
  }
}

.allign-right {
  text-align: right;
}

.allign-center {
  text-align: center;
}

.status-btn {
  margin-top: 10px;
}

.success-background {
  background-color: #E4F2E4;
  min-height: 70px;
}

.failed-background {
  background-color: #F2E4E4;
  min-height: 70px;
}

.pending-background {
  background-color: #eaeef2;
  min-height: 70px;
}

.cancelled-background {
  background-color: #d2d6d9;
  min-height: 70px;
}

.running-background {
  background-color: #fef9e5;
  min-height: 70px;
}

.commmit-avatar {
  margin-top: 10px;
  max-height: 50px;
  vertical-align: middle;
}

.super-center {
  width: 38.65%;
  height: 9.28%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.empty-state {
  height: 37%;
  width: 39%;
  min-width: 310px;
}

.content {
  padding: 0 30px;
}

.callout-general {
  border-left-color: #757779 !important;
}

.project-card {
  cursor: pointer;
}

.remove-tag {
  margin-top: 5px;
}

.vertical-align {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
